<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @add_other_show_detail.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @add_other_show_detail.series %>
</p>

<p>
  <strong>Description:</strong>
  <%= @add_other_show_detail.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @add_other_show_detail.image %>
</p>

<%= link_to 'Edit', edit_add_other_show_detail_path(@add_other_show_detail) %> |
<%= link_to 'Back', add_other_show_details_path %>
